<div>
  <h2 class="header">Type-Ahead Search</h2>

  <div class="outmost-container" style="width: 98%">
    <!-- pass the input value to the Subject  -->
    <div class="search-field-container">
      <i class="material-icons search-icon">search</i>
      <input (input)="searchTerm$.next($event.target.value)" class="search-field" placeholder="SEARCH (Client Name / Policy Number)">
    </div>
    <!-- <div class="parent-container"> -->

    <div class="parent-container">
      <div *ngFor="let client of clients; let i = index" [class]="getClientContainerClass(i)">
        <div class="client-name-container">{{client.firstName}} {{client.lastName}}</div>
        <div class="client-detail-container">


          <div class="client-phone-number">
            <i class="material-icons phone-icon">phone</i>
            <span>{{client.phoneNumber}}</span>
          </div>
          <div class="client-email">
            <i class="fa fa-at at-sign-icon"></i>
            <span>{{client.email}}</span>
          </div>
          <div class="client-policy-number">
            <i class="fa fa-file-text file-icon"></i>
            <span>Policy No. {{client.policyNumber}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <span style="font-size:50%">By Khaled Jamal</span>
</div>